<div id="explore-wrapper">
    <div id="explore">
        <% if (posts.length === 0) {%>
            <div id="not-found-wrapper">
                <div id="not-found"> No result for "<%= title %>" </div>
            </div>
            
        <% } %>
        <div id="tags">
            <% tags.forEach(function(tag) { %>
                <span class="tag">#<%= tag %></span>
            <% }) %>
        </div>
        <div id="posts-wrapper">
            <div id="posts">
                <% posts.forEach(function(post) { %>
                    <a href=<%= "/insightify/" + post._id %> class="post">
                        <img src=<%= post.image %> alt="post" class="post-image">
                        <div class="post-cover">
                            <div class="post-cover-banner"></div>
                            <img src=<%= post.creater.avatar %> alt="avatar" class="post-avatar">
                            <span class="post-name"><%= post.creater.name %></span>
                        </div>
                    </a>
                <%})%>
            </div>
        </div>
    </div>
</div>