<div id="show-post-wrapper">
    <div id="show-post">
        <div id="delete-box" class="hide">
            <div id="delete-wrapper">
                <span>Delete?</span>
                <button id="no-btn">No</button>
                <form action=<%= "/insightify/" + post._id + "/delete?_method=DELETE"%> method="POST">
                    <input type="submit" value="delete" id="yes-btn">
                </form>
            </div>
        </div>
        <div id="left-post">
            <img src=<%= post.image %> alt="image" id="show-post-image">
        </div>
        <% let loggedInBtn = "" %>
        <% if (!user || user._id.toString() !== post.creater._id.toString()) {%>
            <% loggedInBtn = "hide" %>
        <% } %>
        <div id="right-post">
            <div id="user-div">
                <div id="name-avatar-tag">
                    <div id="tag-avatar-wrapper">
                        <img src=<%= post.creater.avatar %> id="tag-avatar">
                    </div>
                    <span id="tag-name"><%= post.creater.name %></span>
                    <button id="tag-cancell-edit-btn" class="manipulate-btn hide <%= loggedInBtn %>"></button>
                    <form action=<%= "/insightify/" + post._id + "/update"%> method="POST">
                        <textarea name="content" id="tag-update-content" cols="30" rows="10" readonly><%= post.content %></textarea>
                        <input type="submit" value="" id="tag-update-btn" class="manipulate-btn hide <%= loggedInBtn %>">
                    </form>
                </div>
                <div id="manipulate">
                    <button id="tag-delete-btn" class="manipulate-btn <%= loggedInBtn %>"></button>
                    <button id="tag-edit-btn" class="manipulate-btn <%= loggedInBtn %>"></button>
                </div>
                <div id="tag-tags">
                    <% post.tags.forEach(function(tag) { %>
                        <span class="tag-tag">#<%= tag %></span>
                    <% }) %>
                </div>
            </div>
            
            <div id="comments">
                <% post.comments.forEach(function(comment) {%>
                    <div class="comment">
                        <img class="comment-avatar" src=<%= comment.creater.avatar %>>
                        <div class="comment-wrapper">
                            <span class="comment-name"><%= comment.creater.name %></span>
                            <p class="comment-content"><%= comment.content %></p>
                        </div>
                    </div>
                <%})%>
            </div>
            <div id="like-div">
                <div id="like-btn">
                    <% if (user) {%>
                        <% let userLiked; %>
                        <% if (post.likes.includes(user._id.toString())) {%>
                            <% userLiked = "userLiked" %>
                        <% } else {%>
                            <% userLiked = "userNotLiked" %>    
                        <%}%>
                        <form method="POST" action=<%= "/insightify/" + post._id + "/like" %>>
                            <input type="submit" value="" id="like-loggedin" class="post-like-btn <%= userLiked %>">
                        </form>
                    <% } else { %>
                        <form action="#">
                            <input type="submit" value="" id="like-not-loggedin" class="post-like-btn userNotLiked">
                        </form>
                    <% } %>
                </div>
                <span id="like-count">Liked by <%= post.likes.length %> users.</span>
            </div>
            
            <div id="comment-div">
                <% if (user) {%>
                    <form method="POST" action=<%= "/insightify/" +  post._id + "/comment" %> class="comment-input-submit" >
                        <textarea name="content" class="new-comment-content" cols="30" rows="10" required></textarea>
                        <input type="submit" value="Post..." class="new-comment-submit">
                    </form>
                <%} else {%>
                    <form method="POST" action=<%= "/insightify/" +  post._id + "comment" %> class="comment-input-submit">
                        <textarea name="content" class="new-comment-content" cols="30" rows="10" readonly></textarea>
                        <input type="submit" value="Post..." class="new-comment-submit" disabled>
                    </form>
                <% } %>
            </div>
        </div>

    </div>
</div>