<div id="side-nav">

    <a id="icon" class="side-nav-item">
        <img src="/images/icons/letter-i.png" alt="INSIGHTIFY">
        <span>INSIGHTIFY</span>
    </a>

    <div class="empty-div" id="upper-empty-div"></div>

    <a id="home" class="side-nav-item" href="/insightify">
        <img src="/images/icons/home.png" alt="Home">
        <span>Explore</span>
    </a>

    <% var loggedIn; %>
    <% if (user) { %>
        <% loggedIn = true; %>
    <%} else { %>
        <% loggedIn = false; %>
    <% } %>

    <a id="my-post" class="side-nav-item <%=loggedIn ? "" : "grey"%>">
        <img src="/images/icons/my-post.png" alt="My Post">
        <span>My Post</span>
    </a>

    <a id="like" class="side-nav-item <%=loggedIn ? "" : "grey"%>">
        <img src="/images/icons/like.png" alt="Like">
        <span>Like</span>
    </a>

    <a id="create" class="side-nav-item <%=loggedIn ? "" : "grey"%>">
        <img src="/images/icons/create.png" alt="Create">
        <span>Create</span>
    </a>

    <div class="empty-div" id="lower-empty-div"></div>

    <a id="user" class="side-nav-item" href=<%= loggedIn ? "/logout" : "/auth/google"%> >
        <img src="/images/icons/user.png" alt="User">
        <span><%= loggedIn ? user.name : "Log in" %></span>
    </a>

    <a id="setting" class="side-nav-item">
        <img src="/images/icons/setting.png" alt="Setting">
        <span>Setting</span>
    </a>

</div>